:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* For Contact Section Start */
#contact{
  background: url(/images/map.jpg);
  background-size: cover;       
  background-repeat: no-repeat;  
  background-position: center; 
}
/* For Contact Section End */

/* For Footer Start */
#footer ul li a{
  color: #262626;
  font-weight: 500;
  text-decoration: none;
}
#footer ul li a:hover {
  text-decoration: underline;
}
/* For Footer end */